@import "./node_modules/bulma/bulma.sass";

$border-color: grey;

body {
  padding: 2rem;
  .app {
    font-family: helvetica, arial, sans-serif;
    padding: 2rem;
    margin-top: 2rem;
    border: 1px solid $border-color;
  }
}
