.headerComponent {
  border-bottom: 1px solid #ccc;

  .headerComponentLogo img{
      width: 100%;
  }

  .headerComponentBody {
    .navbar-item {
      a {
        padding: 0.5rem;
      }

      i {
        margin-right: 0.5rem;
      }
    }
  }
}
