.alertContainer {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 12px;
  right: 12px;
}
